<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet"> 
  <script src="/static/main.js" defer></script>
  <title>Week 4 error</title>
</head>
<body>
    <header class="header">
         <h1>失敗頁面</h1>
    </header>
    <div class="login-container">
      <h3>帳號、或密碼輸入錯誤</h3>
    </div>
  </body>
  </html>