<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet"> 
  <script src="/static/main.js" defer></script>
  <title>Week 4 square</title>
</head>
<body>
    <header class="header">
         <h1>正整數平方計算結果</h1>
    </header>
    <div class="square-answer">
      <h3>{{ square_result }}</h3>
        <a href="http://127.0.0.1:8000">返回首頁</a>
    </div>
  </body>
  </html>