<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet"> 
  <script src="/static/member.js" defer></script>
  <title>Week 7 member</title>
</head>
<body>
    <header class="header">
         <h1>歡迎光臨，這是會員頁</h1>
    </header>
    <div class="signin-container">
      <h3>{{ name }}，歡迎登入系統</h3>
      <a href="/signout">登出系統</a>
    </div>
    <hr>
    <div class="message-submit-container">
      <h2>快來留言吧</h2>
      <form action="/createMessage" method="post" id="message-input">
        <div class="form-group">
          <label for="message-input">留言</label>
          <input type="text" id="message-input" name="message-input">
        </div>
        <button type="submit" class="submit-button">送出</button>
      <hr>
      </form>
      <div class="message-board">
      </div> 
      <div class="query-container">
      <h2>查詢會員姓名</h2>
      <form  id ="query-username-form">
      <input type="text" id="query-username" name="query-username"> 
      <button type="submit" class="query-button">查詢</button>
      </form>
      <div id="reply-query-username">

      </div>
      <h2>更新會員姓名</h2>
      <form id ="update-username-form">
      <input type="text" id="update-username" name="update-username"> 
      <button type="submit" class="update-button">查詢</button>
      </form>
      </div>
  </body>
  <footer>
    <span></span>
  </footer>
</html>